h3.yentu{
    color: #1F1F1F;
    font-family: 'UTMYenTu';
    font-size: 53px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: -3%;
}
.list__term--item img {
    width: 30px;
    height: 30px;
}

.list-term {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list__term--item {
    width: calc(100% / 7 - 20px);
    margin: 10px; 
    display: inline-block; 
}
.list__term--item a {
    text-align: center;
    padding: 10px;
    background: #f7e5d4;
    display: block;
    width: 100%;
}
.list__term--text {
    margin-top: 10px;
    color: #000;
}
/* .list-term::-webkit-scrollbar {
    background: transparent;
} */

.section__camnang--block .col-inner {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
}

.section__camnang--title {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.section__camnang--title:hover {
    color: #DE0000;
}

.intro-home-7.section__ctv {
    padding-bottom: 0;
}

.slick-arrow {
    background: #F15F25;
    color: #fff !important;
    padding: 10px;
    width: 44px;
}

.article-blog {
    margin: 0 10px;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 14px;
}

.article-blog .entry-title {
    font-size: 20px;
    color: #1b1919;
}

.article-blog .entry-content {
    color: #4c4c4c;
}
.article-blog .post-date {
    position: absolute;
    background: #fff;
    top: 15px;
    left: 15px;
    padding: 0px 13px;
    text-transform: uppercase;
}

.article-blog .entry-head {
    position: relative;
}

.article-blog .post-date-day {
    font-size: 24px;
}

.article-blog .post-date-month {
    font-size: 12px;
}
.archive-list-post .col-inner {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}
.post-thumbnail img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.post-content {
    padding: 10px 15px 20px;
    color: #000;
}
.divider {
    background: rgba(0,0,0,.1);
    width: 100%;
    height: 2px;
    max-width: 30px;
    display: block;
    margin: 7px 0;
}
.archive-title {
    margin-bottom: 60px;
}
.pagination{
    justify-content: center;
    width: 100%;
}
.single-post-content, .contact-page {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.entry-thumbnail img {
    width: 100%;
}
.aws-search-field, .aws-container .aws-search-field:focus {
    background: rgba(247, 247, 247, 0.5);
    border: none !important;
}

@media (max-width: 991px) {
    .list__term--item {
        width: calc(100% / 4 - 20px);
        margin: 10px 5px;
    }
}

/* 24/02/2024 17:15*/

.contact-page {
    margin: 30px 0 0 ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-page .detail_company {
    margin-bottom: 10px;
}

.contact-page .detail_company .logo {
    width: 240px;
    margin-bottom: 30px;
}

.contact-page .detail_company .logo img{
   width: 100%;
}

.contact-page .detail_company h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding-bottom: 10px;
}

.contact-page .detail_company p {
    font-size: 16px;
    color: #000;
}

.contact-page .detail_company svg path{
    fill: #000;
}

.contact-page .contact_form label{
    color: #222;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;
}

.contact-page .contact_form input[type=text],
.contact-page .contact_form input[type=email],
.contact-page .contact_form textarea {
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    padding: 0 3px;
    border: 1px solid #C2CFE0;
    margin-bottom: 8px;
    height: 40px;
    width: 100%;
}

.contact-page .contact_form textarea {
    min-height: 120px;
}

.contact-page .contact_form input[type=submit] {
    background : #F15F25 !important;
    color: #fff !important;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.block_certificate_page .certif_header{
    min-height: auto;
    padding: 30px 0;
    position: relative;
    width: 100%;
}

.block_certificate_page .certif_header{
    margin-bottom: 30px;
}

.block_certificate_page .certif_header{
    background-image: url("../images/gallery/cauchuyenthanhcong.png");
    background-position: 50% 50%;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.block_certificate_page .certif_header .certif_header_text{
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.block_certificate_page .list_certif {
    margin-bottom: 50px;
}

.block_certificate_page .list_certif h3{
    color: #0a0a0a;
    font-size: 20px;
}

.block_certificate_page .list_certif p {
    font-size: 16px;
    color: #333;
    max-width: 850px;
    margin: auto;
}

.block_certificate_page .certif_detail {
    background: #FFF;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
    padding: 20px;
    border-radius: 4px;
}

.block_certificate_page .certif_detail h3 {
    font-size: 16px;
    margin: 20px 0;
}

.block_certificate_page .certif_detail .meta {
    color: #7B7875;
    font-size: 16px;
}

.block_certificate_page .certif_detail button {
    background: none;
    border: none;
    font-size: 16px;
    color: #7B7875;
}

.block_certificate_page .certif_detail img{
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.block_certificate_page .certif_detail a:hover img{
    transform: scale(1.1);
}

.block_certificate_page .see_more {
    padding: 10px 15px;
    color:#fff;
    background : #F15F25;
    border-radius: 8px;
    width: max-content;
    margin: 30px auto;
    display: block;
}

section.ss_agency {
    margin: 30px 0 0 ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

section.ss_agency form {
    padding: 26px;
    background: #216200;
    border-radius: 16px 16px 0px 0px;
}
section.ss_agency form {
    padding: 26px;
    background: #216200;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    width: 100%;
    gap: 29px;
    justify-content: end;
    margin-bottom: 60px;
}



.form_group select {
    margin: 0;
    background: #FFFFFF;
    border-radius: 8px;
    width: 350px;
    height: 38px;
    color: #216200;
    font-weight: 500;
}

.search-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}

button.btn-searchform {
    background-color: #E4FBEC !important;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #216200;
    margin: 0 !important;
    height: 38px !important;
    text-transform: initial;
    border: none;
}

.title_home {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #216200;
}

.box_store .box_image {
    max-width: 360px;
    height: 276px;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: auto;
}

.box_store .box_image img {
    height: 100%;
    object-fit: cover;
}

.box_store .box_text {
    padding: 16px 28px 19px;
}

.box_store .box_text h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #216200;
    margin-bottom: 12px !important;
}

.box_store .box_text .agency_map {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.faq_page {
    margin: 30px 0 0 ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 10px;
    overflow: hidden;
}

.faq_page .title {
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: #414141;
    margin-bottom: 20px;
}

.pagination{
    padding: 15px 0;
}
.page-item.active .page-link{
    background-color: #216200;
    border-color: #216200;
}
.list-contact {
    list-style-type: none;
    padding: 0;
}

.list-contact li {
    margin: 20px 0;
}

.list-contact li a {
    display: flex;
    align-items: center;
}

.list-contact li a span {
    margin-left: 15px;
}
@media (max-width: 1023px){

    section.ss_agency form {
        display: block;
        text-align: center;
        padding: 15px;
        margin-bottom: 30px;
    }
    section.ss_agency form .form_group:nth-child(2), 
    section.ss_agency form .form_group:nth-child(3) {
        display: inline-block;
        margin: 0 15px 15px;
    }

    .form_group select {
        width: 172px;
    }

    .title_home {
        font-size: 18px;
    }
    
    .box_store {
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 549px) {
    section.ss_agency form .form_group:nth-child(2), section.ss_agency form .form_group:nth-child(3) {
        display: inline-block;
        margin: 0 0 5px;
    }
}